.HomeContainer {
    padding-top: 200px;
    width: 100%;

    .homeContent{
        margin: 0 7rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .mobiileKnowMoreButton{
            display: none;
        }

        .text-div{
            width: max-content;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .homeKnowMoreBtn{
                display: inline-flex;
                justify-content: start;
                align-items: center;

                button{
                    margin-right: 10px;
                }
            }
        }

        .homeImage-div{
            margin-top: 4rem;
            
        }
    }
}

@media screen and (max-width: 768px) {
    .HomeContainer {
        padding-top: 150px;

        .homeContent{
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .text-div{
                align-items: center;
                justify-content: center;

                .homeKnowMoreBtn{
                    display: none;
                }
            }

            .mobiileKnowMoreButton{
                display: block;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;

                img{
                    transform: translateX(50%);
                }
            }

            .homeImage-div{
                .homeImage{
                    img{
                        width: 80%;
                    }
                }
            }
        }
    }
}