.navBarSection{
    width: 100%;
    height: max-content;
    position: fixed;
    z-index: 1000;

    .header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 1.5rem;
        margin-right: 3rem;

        .logoDiv{
            align-self: start;

            .logo{

                h1{

                    letter-spacing: 1px;
                }
                .icon{
                    width: 4rem;
                    transform: translatey(35%);
                    font-size: 2rem;
                    margin-right: 0.5rem;
                }
            }
        }

        .navBar{
            align-self: flex-end;
        }

        .navLists{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            font-size: 1.2rem;

            .navItem{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .closeNavbar{
                display: none;
            }
        }

        .toggleNavbar{
            display: none;
        }

    }
}

@media screen and (max-width: 768px) {
    .navBarSection{
        .header{
            .navLists{
                display: none;
            }

            .logoDiv{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                a{
                    align-self: start;
                }

                .toggleNavbar{
                    display: block;
                    align-self: flex-end;

                    svg{
                        font-size: 2rem;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}