/* Colors and styling */
.footer{
    width: 100%;
    position: relative;
    padding: 3rem 2rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 1.5rem;
    background: linear-gradient(to bottom, #4b0082, rgba(75, 0, 130, 0)); 
    border-top-left-radius: 40px;    
    border-top-right-radius: 40px;

    .footerContent{
        background: transparent;
        display: flex;
        padding: 3rem;
        gap: 2rem;

        .profileinformation{
            padding: 2rem;
            background: transparent;
            flex:1;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .profileImage{
                background: transparent;
                width: 100px; 
                height: 100px; 
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .profileHeading{
                background: transparent;
                font-size: 1.2rem;
                font-weight: 600;
            }

            .profileText{
                background: transparent;
                font-size: 1rem;
            }

            .bottomProfile{
                background: transparent;
                display: inline-flex;
                align-items: center;
                span{
                    margin-right: 5px;
                    background: transparent;
                }

                .knowMoreButton{
                     display: inline-flex;
                     align-items: center;
                     justify-content: center;
                    width: fit-content; // Adjust size as needed
                    height: auto; 
                     border-radius: 50%; 
                    background-image: linear-gradient(
                            0deg,
                            rgba(74, 0, 143, 1) 0%,
                            rgba(217, 217, 217, 0) 100%
                     );
                     border: none;
                    position: relative;
                    cursor: pointer;
                    overflow: hidden;
                    box-shadow: 2px 0px 0px rgba(255, 255, 255, 0.5);;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        background-image: linear-gradient(
                          60deg,
                          rgb(197, 196, 196) 0%,
                          rgba(0, 0, 0, 0) 100%
                        );
                        mix-blend-mode: overlay; // Ensures the stroke blends with the background
                    }

                    &:hover {
                        background-color: #5a008f; /* Darker shade on hover */
                        box-shadow: 2px 0px 0px rgba(255, 255, 255, 0.7); /* Stronger shadow on hover */
                    }

                    svg{
                        background: transparent;
                        font-size: 2.5rem;
                    }
                }
            }
        }

        .mailingList{
            padding: 2rem;
            border-left: 3px solid white;
            border-radius: 5px;
            flex:1;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            background: transparent;

            h1{
                background: transparent;
            }

            p{
                font-weight: 100;
                background: transparent;
            }

            .emailInputContainer{
                width: 100%;
                padding: .5rem .6rem;
                border-radius: 0.5rem;
                border: 1px solid white;
                outline: none;
                background: white;
                color: black;

                &::placeholder{
                    color:rgba(161, 161, 161, 1);
                    opacity: .5;
                }
            }

            .checkBoxDiv{
                background: transparent;
                .checkBoxLabel{
                    background: transparent;
                    .checkBox{
                        margin-right: 10px;
                    }
                }

            }
            
            .buttonContainer{
                background: transparent;
                .submitBtn{
                    display: inline-flex;
                    align-items: center;
                    padding: 0.5rem 1rem;
                    font-size: 16px;
                    background-color: #4B33E3;
                    color: white;
                    border-radius: 0.5rem;
                    border: dashed;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    width: fit-content;
    
                    svg {
                        margin-left: 0.5rem; /* Space between text and icon */
                        background: transparent;
                        font-size: 1.5rem;
    
                    }
                }
            }
        }

        .footerLogoDiv{
            background: transparent;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                background: transparent;
                width: 100%;
                height: auto
            }
        }
    }
}

// media quries

@media screen and (max-width: 768px) {
    .footer{
        padding: 1rem;
        .footerContent{
            padding: 0.5rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .profileinformation{
                padding: 0%;
                justify-content: center;
                align-items: center;
                order: 2;
                border-bottom: 4px solid white;
                margin-bottom: 10px;
                .profileText{
                    text-align: center;
                }
            }
    
            .mailingList{
                padding: 0.5rem;
                order: 1;
                border: none;
                border-bottom: 4px solid white;
                margin-bottom: 10px;

                h1{
                    text-align: center;
                }

                p{
                    text-align: center;
                }

                .buttonContainer{
                    display: flex;
                    justify-content: center;
                    align-items: center; 
                }
            }
    
            .footerLogoDiv{
                padding: 0.5rem;
                justify-content: center;
                align-items: center;
                order: 3;

                img{
                    width: 50%;
                    height: auto;
                }
            }
        }
    }
}